[submodule "NoxCore/vendors/taskflow"]
	path = NoxCore/vendors/taskflow
	url = https://github.com/taskflow/taskflow
[submodule "NoxCore/vendors/VulkanMemoryAllocator-Hpp"]
	path = NoxCore/vendors/VulkanMemoryAllocator-Hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp
[submodule "NoxCore/vendors/msdf-atlas-gen"]
	path = NoxCore/vendors/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "NoxCore/vendors/ImGuizmo"]
	path = NoxCore/vendors/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "NoxCore/vendors/imgui"]
	path = NoxCore/vendors/imgui
	url = https://github.com/VanKalanchoe/imgui.git
[submodule "NoxCore/vendors/tinygltf"]
	path = NoxCore/vendors/tinygltf
	url = https://github.com/syoyo/tinygltf.git
